.nav {
  text-align: left;

  word-spacing:50px;
  font-size: 40px;
  background-color:#65878F;
  width: 100%;
  height: 20%;
  justify-content: center;
  padding-bottom:8%;
  display: flex;
}

a:link, a:visited{
  color:white;
  text-decoration: none;
  font-family: 'Concert One', cursive;
}

a:hover {
  color: #4b4b4b;
  text-decoration: none;
}

body{
  margin: 0px;
  background-color: #4b4b4b;
}

.petProfile{
  display: flex;
  margin-top: 20%;
  align-content: flex-start;



}
