#learnMore {
   position: fixed;
   top:70px;
   left:20%;
   z-index:500;
   width: 1000px;
   background-color:white;
   padding: 30px;
   margin-right: 50%;


   flex-direction: column;
   align-content: center;
   justify-content: center;
   border: 2px solid white;
   border-radius: 1px;
   float:left;
   border-radius: 15px 50px 30px 5px;
   border: 5px solid grey;





}

#petPic{
  
  height: auto;
  margin:0 auto;
  position: relative;


}

#btnInfo{
  width: 10%;
  height: 10%;

}
